In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_22=pd.read_csv('dataset/Dhaka_PM2.5_2022.csv')
df_22.head()

,Date (LT),Hour,NowCast Conc.,Raw Conc.,Conc. Unit,AQI,AQI Category,QC Name
0,01/01/2022 02:00,2,130.1,129,ug/m3,190,Unhealthy,Valid
1,01/01/2022 03:00,3,128.1,126,ug/m3,188,Unhealthy,Valid
2,01/01/2022 04:00,4,125.1,121,ug/m3,187,Unhealthy,Valid
3,01/01/2022 05:00,5,125.6,126,ug/m3,187,Unhealthy,Valid
4,01/01/2022 06:00,6,124.2,120,ug/m3,186,Unhealthy,Valid

In [4]:
df_22['AQI Category'].unique()

array(['Unhealthy', 'Very Unhealthy', 'Hazardous', nan,
       'Unhealthy for Sensitive Groups', 'Moderate'], dtype=object)

In [5]:
df_22['AQI Category'].value_counts()

Unhealthy                         1964
Very Unhealthy                     864
Unhealthy for Sensitive Groups     511
Hazardous                          122
Moderate                            67
Name: AQI Category, dtype: int64